<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .card {
          box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
          transition: 0.3s;
          width: 20%;
        }
        
        .card:hover {
          box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }
        
        .container {
          padding: 1px 8px;
        }
        </style>
    <title>Home</title>
</head>
<body>
    

    <h5>account: <"disini masukkan namanya"></h5>
    <br>
    <div>
        <form method="get">
            <input type="search" name="search" placeholder="Search your job">
            <button type="submit">Search</button>
        </form><br>
    </div>
    <div class="card">
        <h3>Nama: user yang bikin</h3>
        <img src="https://cdn06.pramborsfm.com/storage/app/media/Prambors/Editorial/NFT%20Bored%20Ape%20Yacht%20Club-20211214165446.jpg?tr=w-800" alt="img" style="width:100%">
        <div class="container">
        <p>ini adalah sebuah contoh konten</p>
        <h6>lokasi</h6>
        <h6>tanggal buat</h6>
        </div>
      </div>
    


</body>
</html>