<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Register</title>
</head>
</center>
<body>

    <h2>Register</h2>

    <form method="post">
        <label for="username">Username</label><br>
        <input type="text" name="username"><br>
        <label for="firstname">First Name</label><br>
        <input type="text" name="firstname"><br>
        <label for="lastname">Last Name</label><br>
        <input type="text" name="lastname"><br>
        <label for="dateOfBirth"> Date of Birth </label><br>
        <input type="date" name="dateOfBirth"><br>
        <label for="gender">Gender</label><br>
        <select class="custom-select" id="gender" name="gender">
            <option disabled selected>Choose Gender</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
        </select><br>
        <label for="email">Email Address</label><br>
        <input type="email" name="email"><br>
        <label for="password">Password</label><br>
        <input type="password" name="password"><br>
        <label for="role">Role</label><br>
        <select class="custom-select" name="role">
            <option disabled selected>Choose Role</option>
            <option value="provider">Provider</option>
            <option value="seeker">Seeker</option>
        </select><br><br>
        <button type="submit" class="btn btn-primary btn-block">Add User</button>
    </form>
</body>
</center>
</html>